.container {
    width: 900px;
    margin: auto;
}

.logo img {
    width: 150px;
    height: 150px;
}

.nav ul {
    display: flex;
    gap: 10px;
    list-style: none;
}

.header {
    display: flex;
}

.sekolah {
    margin-left: 25px;
}

.home {
    background-color: aqua;
}

.sejarah {
    background-color: red;
}

.kegiatan {
    background-color: yellow;
}

.jadwal {
    background-color: blue;
}

.galery {
    background-color: brown;
}

.kontak {
    background-color: green;
}